# Getting vehicle miles traveled by month for a given state

Jake Kara
jkara@trendct.org
Dec. 12, 2016


#### Problem

Data here (https://www.fhwa.dot.gov/policyinformation/travel_monitoring/tvt.cfm) is only available in monthly spreadsheets. There are no annual figures at the state level. I even called the Federal Highway Administration's PR room and they said the data is not available annualized at the state level, so this scrape was necessary. 

If you just want national data, that's in the "historical" spreadsheet (https://www.fhwa.dot.gov/policyinformation/travel_monitoring/historicvmt.xlsx) going back to 1970!

#### Solution

1. Download all XLS/XLSX files from above url using requests and BeautifulSoup (/scrape/vmtscrape.py)
2. Parse files in reverse chronological order until the format changes too significantly to be interested in going back any further.

#### Status

I was able to parse data from 2004 with only three blank months in 2007, which I could have manually fixed by looking at the spreadsheets, but my colleague only needed data back through 2009 anyway, so this was enough.

#### Taking it further

To customize this script for your state, just replace "Connecticut" in the process_2016() function.

The process_2016() function processes all spreadsheets that are in the same format as the 2016 files, or are minimally different. I put in a few conditions to handle the files back to 2004.

For earlier years, I would recommend writing a process_2003() method, to process 2003 data and as far back as possible until you hit hickups.

In [1]:
import pandas as pd, numpy as np, os, re, datetime

In [2]:
def date_from_fname(clean):
    d = datetime.datetime.strptime(clean, "%Y %b" )
    return d
date_from_fname("2012 apr")

datetime.datetime(2012, 4, 1, 0, 0)

In [3]:
#Clean up names 
def clean_mo(fname):
#     print "cleaning " + fname
    if fname.startswith("_"):
        fname = fname[1:]
    trimmed = fname[:fname.index("_")].lower()
    trimmed = re.sub("tvt","",trimmed)
    split_ind = re.search(r"[a-z]",trimmed).start()
    ret = "20" + trimmed[:split_ind] + " " + trimmed[split_ind:]
    
    return date_from_fname(ret)

clean_mo('16martvt_16martvt.xls')

datetime.datetime(2016, 3, 1, 0, 0)

In [4]:
# Process everything that conforms to the same format as the 2016 data
# Seems to work at least back to to 2011
def process_2016(fname):
    #print "processing " + fname
    # Skip rows until we hit a row with 'CMILES' in it
    col = "CMILES"
    if "07" in fname:
        ret = pd.read_excel("scrape/data/" + fname,sheetname=5)
        col="Unnamed: 2"
    elif "06" in fname or "05" in fname or "04" in fname or "03" in fname:
        ret = pd.read_excel("scrape/data/" + fname,sheetname=5)
        col="Unnamed: 4"
    else:
        for i in range(5, 10):
            ret = pd.read_excel("scrape/data/" + fname,sheetname=5,skiprows=i)
            if "CMILES" in ret.columns:
                break

    try:
        return int(ret[ret[ret.columns[0]] == "Connecticut"][col])
    except:
        print "Error processing " + fname + " with col " + col
        return -1
        
filenames = os.listdir("scrape/data")

def try_16(yr_abbr):
    year16 = filter(lambda x: str(yr_abbr).lower() in x.lower(),
                    filenames)
    cmiles = {}
    for mt in year16:
        int_cmiles = process_2016(mt)
        #print mt + ": " + str(int_cmiles)
        cmiles[clean_mo(mt)] = int_cmiles

    return cmiles

cmiles = {}

# Before 2004, the spreadsheet is different enough that it's not worth going back any farther for me for today
for i in range(4, 17):
    cmiles[i] = try_16(str(i).zfill(2))

Error processing 07febtvt_07febtvt.xls with col Unnamed: 2
Error processing 07jantvt_07jantvt.xls with col Unnamed: 2
Error processing 07martvt_07martvt.xls with col Unnamed: 2

In [8]:
cmiles

{4: {datetime.datetime(2004, 1, 1, 0, 0): 2267,
  datetime.datetime(2004, 2, 1, 0, 0): 2196,
  datetime.datetime(2004, 3, 1, 0, 0): 2562,
  datetime.datetime(2004, 4, 1, 0, 0): 2633,
  datetime.datetime(2004, 5, 1, 0, 0): 2749,
  datetime.datetime(2004, 6, 1, 0, 0): 2701,
  datetime.datetime(2004, 7, 1, 0, 0): 2823,
  datetime.datetime(2004, 8, 1, 0, 0): 2846,
  datetime.datetime(2004, 9, 1, 0, 0): 2724,
  datetime.datetime(2004, 10, 1, 0, 0): 2848,
  datetime.datetime(2004, 11, 1, 0, 0): 2593,
  datetime.datetime(2004, 12, 1, 0, 0): 2667},
 5: {datetime.datetime(2005, 1, 1, 0, 0): 2336,
  datetime.datetime(2005, 2, 1, 0, 0): 2257,
  datetime.datetime(2005, 3, 1, 0, 0): 2566,
  datetime.datetime(2005, 4, 1, 0, 0): 2619,
  datetime.datetime(2005, 5, 1, 0, 0): 2820,
  datetime.datetime(2005, 6, 1, 0, 0): 2784,
  datetime.datetime(2005, 7, 1, 0, 0): 2807,
  datetime.datetime(2005, 8, 1, 0, 0): 2813,
  datetime.datetime(2005, 9, 1, 0, 0): 2585,
  datetime.datetime(2005, 10, 1, 0, 0): 2638,
  datetime.datetime(2005, 11, 1, 0, 0): 2584,
  datetime.datetime(2005, 12, 1, 0, 0): 2569},
 6: {datetime.datetime(2006, 1, 1, 0, 0): 2367,
  datetime.datetime(2006, 2, 1, 0, 0): 2223,
  datetime.datetime(2006, 3, 1, 0, 0): 2567,
  datetime.datetime(2006, 4, 1, 0, 0): 2533,
  datetime.datetime(2006, 5, 1, 0, 0): 2705,
  datetime.datetime(2006, 6, 1, 0, 0): 2651,
  datetime.datetime(2006, 7, 1, 0, 0): 2746,
  datetime.datetime(2006, 8, 1, 0, 0): 2749,
  datetime.datetime(2006, 9, 1, 0, 0): 2574,
  datetime.datetime(2006, 10, 1, 0, 0): 2730,
  datetime.datetime(2006, 11, 1, 0, 0): 2584,
  datetime.datetime(2006, 12, 1, 0, 0): 2666},
 7: {datetime.datetime(2007, 1, 1, 0, 0): -1,
  datetime.datetime(2007, 2, 1, 0, 0): -1,
  datetime.datetime(2007, 3, 1, 0, 0): -1,
  datetime.datetime(2007, 4, 1, 0, 0): 2547,
  datetime.datetime(2007, 5, 1, 0, 0): 2832,
  datetime.datetime(2007, 6, 1, 0, 0): 2728,
  datetime.datetime(2007, 7, 1, 0, 0): 2799,
  datetime.datetime(2007, 8, 1, 0, 0): 2852,
  datetime.datetime(2007, 9, 1, 0, 0): 2620,
  datetime.datetime(2007, 10, 1, 0, 0): 2792,
  datetime.datetime(2007, 11, 1, 0, 0): 2589,
  datetime.datetime(2007, 12, 1, 0, 0): 2520},
 8: {datetime.datetime(2008, 1, 1, 0, 0): 2453,
  datetime.datetime(2008, 2, 1, 0, 0): 2201,
  datetime.datetime(2008, 3, 1, 0, 0): 2544,
  datetime.datetime(2008, 4, 1, 0, 0): 2588,
  datetime.datetime(2008, 5, 1, 0, 0): 2783,
  datetime.datetime(2008, 6, 1, 0, 0): 2644,
  datetime.datetime(2008, 7, 1, 0, 0): 2764,
  datetime.datetime(2008, 8, 1, 0, 0): 2747,
  datetime.datetime(2008, 9, 1, 0, 0): 2520,
  datetime.datetime(2008, 10, 1, 0, 0): 2769,
  datetime.datetime(2008, 11, 1, 0, 0): 2517,
  datetime.datetime(2008, 12, 1, 0, 0): 2538},
 9: {datetime.datetime(2009, 1, 1, 0, 0): 2322,
  datetime.datetime(2009, 2, 1, 0, 0): 2258,
  datetime.datetime(2009, 3, 1, 0, 0): 2409,
  datetime.datetime(2009, 4, 1, 0, 0): 2474,
  datetime.datetime(2009, 5, 1, 0, 0): 2784,
  datetime.datetime(2009, 6, 1, 0, 0): 2678,
  datetime.datetime(2009, 7, 1, 0, 0): 2828,
  datetime.datetime(2009, 8, 1, 0, 0): 2788,
  datetime.datetime(2009, 9, 1, 0, 0): 2623,
  datetime.datetime(2009, 10, 1, 0, 0): 2778,
  datetime.datetime(2009, 11, 1, 0, 0): 2580,
  datetime.datetime(2009, 12, 1, 0, 0): 2587},
 10: {datetime.datetime(2010, 1, 1, 0, 0): 2446,
  datetime.datetime(2010, 2, 1, 0, 0): 2221,
  datetime.datetime(2010, 3, 1, 0, 0): 2566,
  datetime.datetime(2010, 4, 1, 0, 0): 2569,
  datetime.datetime(2010, 5, 1, 0, 0): 2874,
  datetime.datetime(2010, 6, 1, 0, 0): 2789,
  datetime.datetime(2010, 7, 1, 0, 0): 2925,
  datetime.datetime(2010, 8, 1, 0, 0): 2901,
  datetime.datetime(2010, 9, 1, 0, 0): 2712,
  datetime.datetime(2010, 10, 1, 0, 0): 2885,
  datetime.datetime(2010, 11, 1, 0, 0): 2679,
  datetime.datetime(2010, 12, 1, 0, 0): 2606},
 11: {datetime.datetime(2011, 1, 1, 0, 0): 2248,
  datetime.datetime(2011, 2, 1, 0, 0): 2180,
  datetime.datetime(2011, 3, 1, 0, 0): 2523,
  datetime.datetime(2011, 4, 1, 0, 0): 2487,
  datetime.datetime(2011, 5, 1, 0, 0): 2776,
  datetime.datetime(2011, 6, 1, 0, 0): 2744,
  datetime.datetime(2011, 7, 1, 0, 0): 2854,
  datetime.datetime(2011, 8, 1, 0, 0): 2758,
  datetime.datetime(2011, 9, 1, 0, 0): 2670,
  datetime.datetime(2011, 10, 1, 0, 0): 2800,
  datetime.datetime(2011, 11, 1, 0, 0): 2679,
  datetime.datetime(2011, 12, 1, 0, 0): 2706},
 12: {datetime.datetime(2012, 1, 1, 0, 0): 2361,
  datetime.datetime(2012, 2, 1, 0, 0): 2247,
  datetime.datetime(2012, 3, 1, 0, 0): 2480,
  datetime.datetime(2012, 4, 1, 0, 0): 2452,
  datetime.datetime(2012, 5, 1, 0, 0): 2770,
  datetime.datetime(2012, 6, 1, 0, 0): 2678,
  datetime.datetime(2012, 7, 1, 0, 0): 2746,
  datetime.datetime(2012, 8, 1, 0, 0): 2789,
  datetime.datetime(2012, 9, 1, 0, 0): 2556,
  datetime.datetime(2012, 10, 1, 0, 0): 2679,
  datetime.datetime(2012, 11, 1, 0, 0): 2572,
  datetime.datetime(2012, 12, 1, 0, 0): 2534},
 13: {datetime.datetime(2013, 1, 1, 0, 0): 2411,
  datetime.datetime(2013, 2, 1, 0, 0): 2081,
  datetime.datetime(2013, 3, 1, 0, 0): 2460,
  datetime.datetime(2013, 4, 1, 0, 0): 2497,
  datetime.datetime(2013, 5, 1, 0, 0): 2827,
  datetime.datetime(2013, 6, 1, 0, 0): 2708,
  datetime.datetime(2013, 7, 1, 0, 0): 2822,
  datetime.datetime(2013, 8, 1, 0, 0): 2852,
  datetime.datetime(2013, 9, 1, 0, 0): 2629,
  datetime.datetime(2013, 10, 1, 0, 0): 2836,
  datetime.datetime(2013, 11, 1, 0, 0): 2599,
  datetime.datetime(2013, 12, 1, 0, 0): 2534},
 14: {datetime.datetime(2014, 1, 1, 0, 0): 2328,
  datetime.datetime(2014, 2, 1, 0, 0): 2087,
  datetime.datetime(2014, 3, 1, 0, 0): 2453,
  datetime.datetime(2014, 4, 1, 0, 0): 2501,
  datetime.datetime(2014, 5, 1, 0, 0): 2847,
  datetime.datetime(2014, 6, 1, 0, 0): 2745,
  datetime.datetime(2014, 7, 1, 0, 0): 2845,
  datetime.datetime(2014, 8, 1, 0, 0): 2829,
  datetime.datetime(2014, 9, 1, 0, 0): 2672,
  datetime.datetime(2014, 10, 1, 0, 0): 2866,
  datetime.datetime(2014, 11, 1, 0, 0): 2586,
  datetime.datetime(2014, 12, 1, 0, 0): 2637},
 15: {datetime.datetime(2015, 1, 1, 0, 0): 2269,
  datetime.datetime(2015, 2, 1, 0, 0): 2077,
  datetime.datetime(2015, 3, 1, 0, 0): 2397,
  datetime.datetime(2015, 4, 1, 0, 0): 2508,
  datetime.datetime(2015, 5, 1, 0, 0): 2853,
  datetime.datetime(2015, 6, 1, 0, 0): 2738,
  datetime.datetime(2015, 7, 1, 0, 0): 2880,
  datetime.datetime(2015, 8, 1, 0, 0): 2813,
  datetime.datetime(2015, 9, 1, 0, 0): 2672,
  datetime.datetime(2015, 10, 1, 0, 0): 2847,
  datetime.datetime(2015, 11, 1, 0, 0): 2639,
  datetime.datetime(2015, 12, 1, 0, 0): 2556},
 16: {datetime.datetime(2016, 1, 1, 0, 0): 2417,
  datetime.datetime(2016, 2, 1, 0, 0): 2265,
  datetime.datetime(2016, 3, 1, 0, 0): 2593,
  datetime.datetime(2016, 4, 1, 0, 0): 2538,
  datetime.datetime(2016, 5, 1, 0, 0): 2857,
  datetime.datetime(2016, 6, 1, 0, 0): 2813,
  datetime.datetime(2016, 7, 1, 0, 0): 2872,
  datetime.datetime(2016, 8, 1, 0, 0): 2876,
  datetime.datetime(2016, 9, 1, 0, 0): 2695}}

In [9]:
# Examining some of the sheets that cause breaks so I can add special conditions above

#pd.read_excel("scrape/data/07aprtvt_07aprtvt.xls",sheetname=5)
#pd.read_excel("scrape/data/06aprtvt_06aprtvt.xls",sheetname=5)
#pd.read_excel("scrape/data/05aprtvt_05aprtvt.xls",sheetname=5)

In [18]:
def merge_all():
    frames = []
    for k in cmiles.keys():
        frames.append(pd.DataFrame(cmiles[k],index=[0]).transpose().sort_index())
    ret = pd.concat(frames).reset_index()
    ret.columns = "month","miles"
    return ret

# Output a monthly CSV

monthly = merge_all()
monthly.to_csv("output/miles_traveled_monthly.csv")
monthly

         month  miles
0   2004-01-01   2267
1   2004-02-01   2196
2   2004-03-01   2562
3   2004-04-01   2633
4   2004-05-01   2749
5   2004-06-01   2701
6   2004-07-01   2823
7   2004-08-01   2846
8   2004-09-01   2724
9   2004-10-01   2848
10  2004-11-01   2593
11  2004-12-01   2667
12  2005-01-01   2336
13  2005-02-01   2257
14  2005-03-01   2566
15  2005-04-01   2619
16  2005-05-01   2820
17  2005-06-01   2784
18  2005-07-01   2807
19  2005-08-01   2813
20  2005-09-01   2585
21  2005-10-01   2638
22  2005-11-01   2584
23  2005-12-01   2569
24  2006-01-01   2367
25  2006-02-01   2223
26  2006-03-01   2567
27  2006-04-01   2533
28  2006-05-01   2705
29  2006-06-01   2651
..         ...    ...
123 2014-04-01   2501
124 2014-05-01   2847
125 2014-06-01   2745
126 2014-07-01   2845
127 2014-08-01   2829
128 2014-09-01   2672
129 2014-10-01   2866
130 2014-11-01   2586
131 2014-12-01   2637
132 2015-01-01   2269
133 2015-02-01   2077
134 2015-03-01   2397
135 2015-04-01   2508
136 2015-05-01   2853
137 2015-06-01   2738
138 2015-07-01   2880
139 2015-08-01   2813
140 2015-09-01   2672
141 2015-10-01   2847
142 2015-11-01   2639
143 2015-12-01   2556
144 2016-01-01   2417
145 2016-02-01   2265
146 2016-03-01   2593
147 2016-04-01   2538
148 2016-05-01   2857
149 2016-06-01   2813
150 2016-07-01   2872
151 2016-08-01   2876
152 2016-09-01   2695

[153 rows x 2 columns]

In [24]:
def yearly(df):
    ret = df.copy()
    ret["year"] = ret["month"].apply(lambda x: x.year)
    ret = ret.groupby("year").agg({"miles":np.sum})
    return ret
    
yearly(monthly)

      miles
year
2004  31609
2005  31378
2006  31095
2007  24276
2008  31068
2009  31109
2010  32173
2011  31425
2012  30864
2013  31256
2014  31396
2015  31249
2016  23926